{% extends "layout.html" %}

{% from "macros/render-post.html" import render_post %}
{% from "macros/render-tag.html" import render_tag %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}
{{ render_post(this) }}

<!-- Enable when more contet -->
<!-- <hr>
{% if this.tags %}
  <ul>
    {% for t in this.tags -%}
      <li>
        {{ render_tag(t) }}
      </li>
    {% endfor %}
  </ul>
{% endif %} -->

{% endblock %}
